*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2f373a;
}

*::-webkit-scrollbar-track:hover {
    background-color: #3b4447;
}

*::-webkit-scrollbar-track:active {
    background-color: #3b4447;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #74ABCE;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #74ABCE;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #83c3ea;
}

.html {
    background-color: #1f2527;
    display: block;
}

a {
    text-decoration: none;
    color: #8ed1fc;
}

.head {
    background-color: #1f2527;
}

#climateClockContainer {
    transition: height 1s ease, opacity 1s ease;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: sticky;
    position: -webkit-sticky;
}

#climateClockContainer.show {
    height: 200px;
    opacity: 1;
}

.header-menu {
    background-color: #1f2527;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
}

.header-title {
    color: #8ed1fc;
    background-color: #1f2527;
    font-family: Source Sans Pro;
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
    position: sticky;
    position: -webkit-sticky;
}

.header-title:hover {
    cursor: pointer;
}

.header-tagline {
    color: #8ed1fc;
    background-color: #1f2527;
    font-family: Source Sans Pro;
    font-size: large;
    display: inline-block;
    padding: 20px;
    transition: opacity 0.3s ease-in-out;
}

.header-tagline:hover {
    cursor: default;
}

.header-nav {
    color: #8ed1fc;
    background-color: #1f2527;
    font-family: Source Sans Pro;
    font-size: larger;
    display: inline-block;
    padding-left: 960px;
    position: sticky;
    position: -webkit-sticky;
}

.nav-gallery {
    text-align: left;
}

.nav-gallery:hover {
    cursor: pointer;
}

body {
    background-color: #1f2527;
    color: #8ed1fc;
    font-family: Source Sans Pro;
}

p {
    font-size: x-large;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

h3 {
    font-size: 60px;
    font-family: Source Sans Pro;
    font-weight: thin;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    font-size: large;
    font-family: Source Sans Pro;
    font-weight: thin;
    font-style: italic;
    text-align: right;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.copyright {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin: 20px;
}